In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("DS_data_for_Analysis[002].csv")

In [6]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [6]:
df.shape

(94867, 60)

In [7]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [ ]:
continent', 'location', 'date', ' new_cases',

In [9]:
df[['continent', 'location', 'date',  'new_cases']]

      continent  location        date  new_cases
94847    Africa  Zimbabwe  22/05/2021       15.0
94848    Africa  Zimbabwe  23/05/2021        3.0
94849    Africa  Zimbabwe  24/05/2021       14.0
94850    Africa  Zimbabwe  25/05/2021       10.0
94851    Africa  Zimbabwe  26/05/2021      113.0
94852    Africa  Zimbabwe  27/05/2021       35.0
94853    Africa  Zimbabwe  28/05/2021       64.0
94854    Africa  Zimbabwe  29/05/2021       15.0
94855    Africa  Zimbabwe  30/05/2021       11.0
94856    Africa  Zimbabwe  31/05/2021       17.0
94857    Africa  Zimbabwe  01/06/2021       37.0
94858    Africa  Zimbabwe  02/06/2021       33.0
94859    Africa  Zimbabwe  03/06/2021       61.0
94860    Africa  Zimbabwe  04/06/2021       52.0
94861    Africa  Zimbabwe  05/06/2021       24.0
94862    Africa  Zimbabwe  06/06/2021       21.0
94863    Africa  Zimbabwe  07/06/2021       49.0
94864    Africa  Zimbabwe  08/06/2021       83.0
94865    Africa  Zimbabwe  09/06/2021      111.0
94866    Africa  Zimbabwe  10/06/2021       64.0

In [ ]:
list comprehension

columns start with new

In [12]:
  col_list=[col for col in df.columns if col.startswith('new')]

In [13]:
col_list

['new_cases',
 'new_cases_smoothed',
 'new_deaths',
 'new_deaths_smoothed',
 'new_cases_per_million',
 'new_cases_smoothed_per_million',
 'new_deaths_per_million',
 'new_deaths_smoothed_per_million',
 'new_tests',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'new_vaccinations_smoothed_per_million']

In [16]:
df[['location','date']]

          location        date
0      Afghanistan  24/02/2020
1      Afghanistan  25/02/2020
2      Afghanistan  26/02/2020
3      Afghanistan  27/02/2020
4      Afghanistan  28/02/2020
...            ...         ...
94862     Zimbabwe  06/06/2021
94863     Zimbabwe  07/06/2021
94864     Zimbabwe  08/06/2021
94865     Zimbabwe  09/06/2021
94866     Zimbabwe  10/06/2021

[94867 rows x 2 columns]

In [12]:
df['location']

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
94862       Zimbabwe
94863       Zimbabwe
94864       Zimbabwe
94865       Zimbabwe
94866       Zimbabwe
Name: location, Length: 94867, dtype: object

In [ ]:
df.colname # col name is not applicable when it have space in its name to use df['colname']

In [ ]:
or df['colname']

In [ ]:
df[[col_list]] # for multiple columns

In [ ]:
if we need all columns except new

In [20]:
col_list=[col for col in df.columns if not col.startswith("new")]

In [21]:
col_list

['iso_code',
 'continent',
 'location',
 'date',
 'total_cases',
 'total_deaths',
 'total_cases_per_million',
 'total_deaths_per_million',
 'reproduction_rate',
 'icu_patients',
 'icu_patients_per_million',
 'hosp_patients',
 'hosp_patients_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'total_tests',
 'total_tests_per_thousand',
 'positive_rate',
 'tests_per_case',
 'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'stringency_index',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index',
 'excess_mortality']

# df--> col data -dtype

In [23]:
df.dtypes

iso_code                                  object
continent                                 object
location                                  object
date                                      object
total_cases                              float64
new_cases                                float64
new_cases_smoothed                       float64
total_deaths                             float64
new_deaths                               float64
new_deaths_smoothed                      float64
total_cases_per_million                  float64
new_cases_per_million                    float64
new_cases_smoothed_per_million           float64
total_deaths_per_million                 float64
new_deaths_per_million                   float64
new_deaths_smoothed_per_million          float64
reproduction_rate                        float64
icu_patients                             float64
icu_patients_per_million                 float64
hosp_patients                            float64
hosp_patients_per_million                float64
weekly_icu_admissions                    float64
weekly_icu_admissions_per_million        float64
weekly_hosp_admissions                   float64
weekly_hosp_admissions_per_million       float64
new_tests                                float64
total_tests                              float64
total_tests_per_thousand                 float64
new_tests_per_thousand                   float64
new_tests_smoothed                       float64
new_tests_smoothed_per_thousand          float64
positive_rate                            float64
tests_per_case                           float64
tests_units                               object
total_vaccinations                       float64
people_vaccinated                        float64
people_fully_vaccinated                  float64
new_vaccinations                         float64
new_vaccinations_smoothed                float64
total_vaccinations_per_hundred           float64
people_vaccinated_per_hundred            float64
people_fully_vaccinated_per_hundred      float64
new_vaccinations_smoothed_per_million    float64
stringency_index                         float64
population                               float64
population_density                       float64
median_age                               float64
aged_65_older                            float64
aged_70_older                            float64
gdp_per_capita                           float64
extreme_poverty                          float64
cardiovasc_death_rate                    float64
diabetes_prevalence                      float64
female_smokers                           float64
male_smokers                             float64
handwashing_facilities                   float64
hospital_beds_per_thousand               float64
life_expectancy                          float64
human_development_index                  float64
excess_mortality                         float64
dtype: object

In [24]:
# object is considered as string in pandas

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94867 entries, 0 to 94866
Data columns (total 60 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               94867 non-null  object
 1   continent                              90387 non-null  object
 2   location                               94867 non-null  object
 3   date                                   94867 non-null  object
 4   total_cases                            91760 non-null  float64
 5   new_cases                              91757 non-null  float64
 6   new_cases_smoothed                     90747 non-null  float64
 7   total_deaths                           81781 non-null  float64
 8   new_deaths                             81937 non-null  float64
 9   new_deaths_smoothed                    90747 non-null  float64
 10  total_cases_per_million                91270 non-null  float64
 11  new_cases_per_million                  91267 non-null  float64
 12  new_cases_smoothed_per_million         90262 non-null  float64
 13  total_deaths_per_million               81304 non-null  float64
 14  new_deaths_per_million                 81460 non-null  float64
 15  new_deaths_smoothed_per_million        90262 non-null  float64
 16  reproduction_rate                      76311 non-null  float64
 17  icu_patients                           9521 non-null   float64
 18  icu_patients_per_million               9521 non-null   float64
 19  hosp_patients                          11817 non-null  float64
 20  hosp_patients_per_million              11817 non-null  float64
 21  weekly_icu_admissions                  861 non-null    float64
 22  weekly_icu_admissions_per_million      861 non-null    float64
 23  weekly_hosp_admissions                 1497 non-null   float64
 24  weekly_hosp_admissions_per_million     1497 non-null   float64
 25  new_tests                              42932 non-null  float64
 26  total_tests                            42625 non-null  float64
 27  total_tests_per_thousand               42625 non-null  float64
 28  new_tests_per_thousand                 42932 non-null  float64
 29  new_tests_smoothed                     49800 non-null  float64
 30  new_tests_smoothed_per_thousand        49800 non-null  float64
 31  positive_rate                          46972 non-null  float64
 32  tests_per_case                         46373 non-null  float64
 33  tests_units                            51435 non-null  object
 34  total_vaccinations                     14118 non-null  float64
 35  people_vaccinated                      13313 non-null  float64
 36  people_fully_vaccinated                10544 non-null  float64
 37  new_vaccinations                       11798 non-null  float64
 38  new_vaccinations_smoothed              24334 non-null  float64
 39  total_vaccinations_per_hundred         14118 non-null  float64
 40  people_vaccinated_per_hundred          13313 non-null  float64
 41  people_fully_vaccinated_per_hundred    10544 non-null  float64
 42  new_vaccinations_smoothed_per_million  24334 non-null  float64
 43  stringency_index                       79962 non-null  float64
 44  population                             94243 non-null  float64
 45  population_density                     88200 non-null  float64
 46  median_age                             85008 non-null  float64
 47  aged_65_older                          84050 non-null  float64
 48  aged_70_older                          84537 non-null  float64
 49  gdp_per_capita                         85294 non-null  float64
 50  extreme_poverty                        57649 non-null  float64
 51  cardiovasc_death_rate                  85400 non-null  float64
 52  diabetes_prevalence                    87465 non-null  float64
 53  female_smokers                         66841 non-null  float64
 54  male_smokers                           65862 non-null  float64
 55  handwashing_facilities                 42903 non-null  float64
 56  hospital_beds_per_thousand             77845 non-null  float64
 57  life_expectancy                        90082 non-null  float64
 58  human_development_index                85564 non-null  float64
 59  excess_mortality                       3344 non-null   float64
dtypes: float64(55), object(5)
memory usage: 43.4+ MB

In [ ]:
## short analysis

In [14]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
count,9.176000e+04,91757.000000,90747.000000,8.178100e+04,81937.000000,90747.000000,91270.000000,91267.000000,90262.000000,81304.000000,...,57649.000000,85400.000000,87465.000000,66841.000000,65862.000000,42903.000000,77845.000000,90082.000000,85564.000000,3344.000000
mean,9.823545e+05,6059.404253,6086.950436,2.703805e+04,147.089288,131.678010,12072.139046,76.113344,76.455795,270.626884,...,13.385674,258.243476,7.905245,10.554517,32.681430,50.858772,3.028727,73.232545,0.727605,18.177156
std,6.765660e+06,38082.374634,37832.857208,1.610378e+05,804.364326,743.874762,22560.724598,197.913138,158.790650,494.627398,...,19.953595,118.939421,4.113085,10.446290,13.478396,31.760492,2.460161,7.561854,0.150391,36.279736
min,1.000000e+00,-74347.000000,-6223.000000,1.000000e+00,-1918.000000,-232.143000,0.001000,-2153.437000,-276.825000,0.001000,...,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-95.590000
25%,1.148000e+03,2.000000,7.286000,5.100000e+01,0.000000,0.000000,240.442500,0.207000,1.256000,7.731000,...,0.600000,167.295000,5.310000,1.900000,21.600000,20.105000,1.300000,67.920000,0.602000,0.107500
50%,1.257150e+04,72.000000,90.143000,3.520000e+02,2.000000,1.286000,1627.008000,8.105000,10.733000,48.026000,...,2.200000,242.648000,7.110000,6.300000,31.400000,49.839000,2.400000,74.620000,0.748000,7.320000
75%,1.323872e+05,797.000000,835.714000,3.454000e+03,18.000000,14.286000,12272.323500,70.679500,79.294250,292.278000,...,21.200000,329.635000,10.080000,19.300000,41.100000,83.241000,3.861000,78.740000,0.848000,23.690000
max,1.748673e+08,906008.000000,826389.571000,3.773339e+06,18051.000000,14741.143000,178670.808000,18293.675000,4083.500000,5697.194000,...,77.600000,724.417000,30.530000,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,409.620000

#  Col Analysis

In [29]:
df["new_cases"]

0          1.0
1          0.0
2          0.0
3          0.0
4          0.0
         ...
94862     21.0
94863     49.0
94864     83.0
94865    111.0
94866     64.0
Name: new_cases, Length: 94867, dtype: float64

In [17]:
df.new_cases

0          1.0
1          0.0
2          0.0
3          0.0
4          0.0
         ...
94862     21.0
94863     49.0
94864     83.0
94865    111.0
94866     64.0
Name: new_cases, Length: 94867, dtype: float64

In [24]:
df['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [22]:
df["location"].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America',
       'North Macedonia', 'Northern Cyprus', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Wallis and Futuna', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [18]:
print(df['location'].unique())

['Afghanistan' 'Africa' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Asia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bonaire Sint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba'
 'Curacao' 'Cyprus' 'Czechia' 'Democratic Republic of Congo' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Europe' 'European Union' 'Faeroe Islands' 'Falkland Islands'
 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guatemala'
 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'International'
 'Iran' 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North America' 'North Macedonia' 'Northern Cyprus'
 'Norway' 'Oceania' 'Oman' 'Pakistan' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Helena'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South America' 'South Korea' 'South Sudan'
 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria'
 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Vatican' 'Venezuela' 'Vietnam'
 'Wallis and Futuna' 'World' 'Yemen' 'Zambia' 'Zimbabwe']

In [37]:
len(df["location"].unique())

229

In [42]:
df['continent'].value_counts()

Africa           24495
Asia             22562
Europe           22523
North America    11624
South America     5727
Oceania           3456
Name: continent, dtype: int64

In [43]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

# new column addition

In [45]:
df['test']=100

In [46]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100

In [47]:
df['test1']=df['iso_code']+df['continent']

In [48]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica

In [49]:
df['life_expectancy_new']=(df['life_expectancy']/100)*5

In [50]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1,life_expectancy_new
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745

In [55]:
df['location_len']=len(df['location'])

In [56]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1,life_expectancy_new,location_len
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,30.7,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867

In [60]:
def length(r):
    return len(r)

In [61]:
df['new_loc']=df['location'].map(length)

In [59]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1,life_expectancy_new,location_len,new_loc
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8

In [63]:
df['new_loc'].value_counts()

7     20484
6     15652
5     11345
8     10982
10     6913
9      6055
4      5206
11     4364
13     3468
12     1959
14     1299
19      909
21      874
16      868
15      847
20      640
24      592
17      531
22      471
18      467
28      457
32      454
25       29
31        1
Name: new_loc, dtype: int64

In [64]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1,life_expectancy_new,location_len,new_loc
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11

In [65]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1,life_expectancy_new,location_len,new_loc
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8

In [66]:
df.head(15)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1,life_expectancy_new,location_len,new_loc
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
5,AFG,Asia,Afghanistan,29/02/2020,1.0,0.0,0.143,NaN,NaN,0.0,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
6,AFG,Asia,Afghanistan,01/03/2020,1.0,0.0,0.143,NaN,NaN,0.0,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
7,AFG,Asia,Afghanistan,02/03/2020,1.0,0.0,0.000,NaN,NaN,0.0,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
8,AFG,Asia,Afghanistan,03/03/2020,2.0,1.0,0.143,NaN,NaN,0.0,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
9,AFG,Asia,Afghanistan,04/03/2020,4.0,2.0,0.429,NaN,NaN,0.0,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
10,AFG,Asia,Afghanistan,05/03/2020,4.0,0.0,0.429,NaN,NaN,0.0,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
11,AFG,Asia,Afghanistan,06/03/2020,4.0,0.0,0.429,NaN,NaN,0.0,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
12,AFG,Asia,Afghanistan,07/03/2020,4.0,0.0,0.429,NaN,NaN,0.0,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
13,AFG,Asia,Afghanistan,08/03/2020,5.0,1.0,0.571,NaN,NaN,0.0,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
14,AFG,Asia,Afghanistan,09/03/2020,7.0,2.0,0.857,NaN,NaN,0.0,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11

In [68]:
df.isnull()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1,life_expectancy_new,location_len,new_loc
0,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
94863,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
94864,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
94865,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
94866,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [69]:
df.isnull().sum()

iso_code                  0
continent              4480
location                  0
date                      0
total_cases            3107
                       ...
test                      0
test1                  4480
life_expectancy_new    4785
location_len              0
new_loc                   0
Length: 65, dtype: int64

In [70]:
df['continent']=df['continent'].map(lambda x:str(x)[:1])

In [71]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1,life_expectancy_new,location_len,new_loc
0,AFG,A,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
1,AFG,A,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
2,AFG,A,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
3,AFG,A,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
4,AFG,A,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,100,AFGAsia,3.2415,94867,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,A,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94863,ZWE,A,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94864,ZWE,A,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94865,ZWE,A,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8
94866,ZWE,A,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,36.791,1.7,61.49,0.571,NaN,100,ZWEAfrica,3.0745,94867,8

In [72]:
# filling null

In [73]:
df.isnull().sum()

iso_code                  0
continent                 0
location                  0
date                      0
total_cases            3107
                       ...
test                      0
test1                  4480
life_expectancy_new    4785
location_len              0
new_loc                   0
Length: 65, dtype: int64

In [74]:
df.fillna(0)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1,life_expectancy_new,location_len,new_loc
0,AFG,A,Afghanistan,24/02/2020,1.0,1.0,0.000,0.0,0.0,0.000,...,37.746,0.5,64.83,0.511,0.0,100,AFGAsia,3.2415,94867,11
1,AFG,A,Afghanistan,25/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,37.746,0.5,64.83,0.511,0.0,100,AFGAsia,3.2415,94867,11
2,AFG,A,Afghanistan,26/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,37.746,0.5,64.83,0.511,0.0,100,AFGAsia,3.2415,94867,11
3,AFG,A,Afghanistan,27/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,37.746,0.5,64.83,0.511,0.0,100,AFGAsia,3.2415,94867,11
4,AFG,A,Afghanistan,28/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,37.746,0.5,64.83,0.511,0.0,100,AFGAsia,3.2415,94867,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,A,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,36.791,1.7,61.49,0.571,0.0,100,ZWEAfrica,3.0745,94867,8
94863,ZWE,A,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,36.791,1.7,61.49,0.571,0.0,100,ZWEAfrica,3.0745,94867,8
94864,ZWE,A,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,36.791,1.7,61.49,0.571,0.0,100,ZWEAfrica,3.0745,94867,8
94865,ZWE,A,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,36.791,1.7,61.49,0.571,0.0,100,ZWEAfrica,3.0745,94867,8
94866,ZWE,A,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,36.791,1.7,61.49,0.571,0.0,100,ZWEAfrica,3.0745,94867,8

In [75]:
df.fillna(0,inplace=True)

In [76]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,test,test1,life_expectancy_new,location_len,new_loc
0,AFG,A,Afghanistan,24/02/2020,1.0,1.0,0.000,0.0,0.0,0.000,...,37.746,0.5,64.83,0.511,0.0,100,AFGAsia,3.2415,94867,11
1,AFG,A,Afghanistan,25/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,37.746,0.5,64.83,0.511,0.0,100,AFGAsia,3.2415,94867,11
2,AFG,A,Afghanistan,26/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,37.746,0.5,64.83,0.511,0.0,100,AFGAsia,3.2415,94867,11
3,AFG,A,Afghanistan,27/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,37.746,0.5,64.83,0.511,0.0,100,AFGAsia,3.2415,94867,11
4,AFG,A,Afghanistan,28/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,37.746,0.5,64.83,0.511,0.0,100,AFGAsia,3.2415,94867,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,A,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,36.791,1.7,61.49,0.571,0.0,100,ZWEAfrica,3.0745,94867,8
94863,ZWE,A,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,36.791,1.7,61.49,0.571,0.0,100,ZWEAfrica,3.0745,94867,8
94864,ZWE,A,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,36.791,1.7,61.49,0.571,0.0,100,ZWEAfrica,3.0745,94867,8
94865,ZWE,A,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,36.791,1.7,61.49,0.571,0.0,100,ZWEAfrica,3.0745,94867,8
94866,ZWE,A,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,36.791,1.7,61.49,0.571,0.0,100,ZWEAfrica,3.0745,94867,8

In [ ]:
df.to_html("test.html")

In [ ]:
df